*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box
}
html, body{
	width: 100%;
	height: 100vh;
}
.mini-circle{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 99999;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.main{
	width: 100%;
	background: black;

}
.hero{
	width: 100%;
	height: 100vh;
	color: whitesmoke;
	position: relative;
}
.nav{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 50px 30px;
	justify-content: space-between;

}
.nav h2{
	font-weight: 200;
	font-size: 1.5vw;
}
.hero-headings{
	width: 65%;
	padding: 25px 45px;
}
.hero-headings h1{
	font-size: 10vw;
	text-transform: uppercase;
	line-height: 0.9;
	opacity: 0.7;

}
#second-h1{
	margin-left: 110px;
}
.blocktext{
	width: fit-content;
}
.hero-headings p {
	text-transform: uppercase;
	text-align: right;
	font-size: 1vw;
	font-weight: 900;
}
.side-text{
	padding: 15px 32px;
	margin-top: 100px;
	padding: 15px 32px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 100%;

}
.side-text h5{
	font-size: 1.2vw;
	text-align: right;
	text-transform: uppercase;
	font-weight: 500;
}
.last-headings{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px 20px;
	position: absolute;
	bottom: -11%;
}
.last-headings a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.iconset{
	width: 100px;
	height: 100px;
	display: flex;
	gap: 5px;
}
.circle{
	width: 30px;
	height: 30px;
	background-color: whitesmoke;
	border-radius: 50%;
	display: flex;
	color: black;
	justify-content: center;
	align-items: center;
	opacity: 0.7;

}

.second{
	width: 90%;
	height: auto;
	background-color: black;
	margin-top: 100px;
	padding: 2vw 2vw;
	position: relative;
}
.element{
	width: 100%;
	border-top: 1px solid #888;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2vw;
}
.element h1{
	font-size: 8vw;
	opacity: 0.7;
}
.lastelem{
	border-bottom: 1px solid #888;
}
.element img{
	position: absolute;
	z-index: 999;
	width: 300px;
	/*display: none;*/
	opacity: 0;
}

.about{
	width: 100%;
	height: 100vh;
	padding: 2vw 3vw;
	color: white;
	display: flex;
	gap: 50px;
	padding-left: 30vw;
	margin-top: 20vw;

}
.text-about {
	width: 30rem;
}
.text-about a{
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 20px;
}
.text-about h5{
	text-transform: uppercase;
	opacity: 0.7;
	margin-bottom: 10px;
}
.text-about p{
	font-size: 20px;
	opacity: 0.9;
	margin-bottom: 29px;
}
.about img{
	height: 40%;
}
.footer{
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	padding: 2vw 3vw;
}
.footer a{
	color: white;
	text-decoration: none;
}
.copyright{
	width: 20%;
	display: flex;
	gap: 10px;
}
.social{
	width: 35%;
	display: flex;
	gap: 30px;
}
.bonding{
	width: fit-content;
	overflow: hidden;
}
.elem-bonding{
	transform: translateY(110%);
}